---
import type { YoutubeVideo } from '../types'
import VideoCard from './VideoCard.astro'

interface Props {
  videos: YoutubeVideo[]
}

const { videos } = Astro.props
---

<div class='video-grid'>
  {videos.map((video) => (
    <VideoCard video={video} />
  ))}
</div>

<style>
  .video-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }

  @media (max-width: 1024px) {
    .video-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 640px) {
    .video-grid {
      grid-template-columns: 1fr;
    }
  }
</style>
