---
import CreatePortfolio from "../../../components/react/portfolios/createPortfoli"
import RootLayout from "../../../layouts/rootLayout.astro"
---
<RootLayout title="portfolios page" description="portfolios page description">
	<h3 class="mb-3 pb-2 border-b text-lg font-semibold">
        سبدهای سرمایه گذاری
    </h3>
	<div class="text-gray-400">
		<div class="flex items-center">
			<svg
				class="flex-shrink-0 w-4 h-4 me-2 text-gray-500"
				aria-hidden="true"
				xmlns="http://www.w3.org/2000/svg"
				fill="currentColor"
				viewBox="0 0 20 20"
			>
				<path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
			</svg>
			<span class="sr-only">توضیحات</span>
			<h3 class="text-lg font-medium text-gray-500">
				توضیحات
			</h3>
		</div>
		<div class="mt-2 mb-4 text-sm text-gray-500">
			معاملات رمز ارزی خود را به سبد سرمایه گذاری اضافه کنید تا به توانید به
			راحتی دارایی‌ها، عملکرد و سود و زیان خود را پیگیری کنید.
		</div>
	</div>
	<div class="grid grid-cols-4 gap-4">
		<CreatePortfolio client:only="react"/>
		<div class="p-4 rounded-lg col-span-3">list</div>
	</div>
</RootLayout>