<div class='flex'>
  <a
    href='/auth/register'
    class='hidden md:flex font-medium text-gray-300 px-4 py-2 duration-500 ease-in-out hover:text-white text-center'
  >
    ثبت نام
  </a>
  <a
    href='/auth/login'
    class='border border-1 text-white font-medium px-4 py-2 rounded-lg transition-all duration-500 ease-in-out hover:bg-[#4766ff]'
  >
    ورود
  </a>
</div>
