---
const currentPath = Astro.url.pathname;
const isActive = (path:string) => path === currentPath ? 'active': 'inactive'
---

<nav class="sub-navbar">
  <div class="container mx-auto flex justify-center gap-8">
    <a href="/" class={`sub-navbar-item ${isActive('/')}`}>
      Articles
    </a>
    <a href="/posts" class={`sub-navbar-item ${isActive('/posts')}`}>
      Posts
    </a>
    <a href="/about" class={`sub-navbar-item ${isActive('/about')}`}>
      About Us
    </a>
    <a href="/contact" class={`sub-navbar-item ${isActive('/contact')}`}>
      Contact Us
    </a>
  </div>
</nav>
