---
import RootLayout from "../../../layouts/rootLayout.astro"
import AnalyzingInstagramFollowersForm from "../../../components/solid/forms/analyzingInstagramFollowersForm"
---
<RootLayout title="analyzing instagram page" description="analyzing instagram page description">
	<h3 class="mb-3 pb-2 border-b text-lg font-semibold">
            آنالیز فالور‌ها و فالویینگ‌ها
    </h3>
	<div class="text-gray-400">
        <div class="flex items-center">
          <svg
            class="flex-shrink-0 w-4 h-4 me-2 text-gray-500"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
          </svg>
          <span class="sr-only">توضیحات</span>
          <h3 class="text-lg font-medium text-gray-500">
            توجه
          </h3>
        </div>
        <div class="mt-2 mb-4 text-sm text-gray-500">
          بخش آنالیز فالورها و فالویینگ‌ها فقط برای پلتفرم اینستاگرام در
          دسترس است و تمامی فایل های آپلود شده در لحظه پردازش می‌شود و هیچ
          داده‌ای به سرور ما انتقال داده نمی‌شود.
        </div>
    </div>
	<AnalyzingInstagramFollowersForm client:only="solid-js" />
</RootLayout>
