---
import RootLayout from "../layouts/rootLayout.astro"
import ReactComponent from "../components/react/react-component"
import SolidComponent from "../components/solid/solid-component"
---
<RootLayout title="home page" description="home page description">
	<h1>Astro</h1>
	<ReactComponent client:only="react"/>
	<SolidComponent client:only="solid-js"/>
	
</RootLayout>