---
import RootLayout from '../layouts/rootLayout.astro'
---

<RootLayout
  title='home page'
  description='home page description'
>
  <h1>Astro</h1>
  <!-- <ReactComponent client:only='react' />
  <SolidComponent client:only='solid-js' /> -->

  <!-- Hero Content Start -->
  <div class='mx-auto max-w-[1170px] px-4 sm:px-8 xl:px-0 relative z-1'>
    <div class='flex flex-wrap gap-x-7.5 gap-y-9'>
      <!-- Hero item -->
      <div
        class='max-w-[1170px] w-full flex flex-col lg:flex-row lg:items-center gap-7.5 lg:gap-11 bg-white shadow-1 rounded-xl p-4 lg:p-2.5'
      >
        <div class='lg:max-w-[536px] w-full'>
          <a href='/article/1'>
            <img
              class='w-full rounded-md'
              src='https://picsum.photos/521/312'
              alt='hero'
            />
          </a>
        </div>

        <div class='lg:max-w-[540px] w-full'>
          <a
            href='category.html'
            class='inline-flex text-purple-dark bg-purple/[0.08] font-medium text-sm py-1 px-3 rounded-full mb-4'
            >لایف استایل</a
          >
          <h1 class='font-bold text-custom-4 xl:text-heading-4 text-dark mb-4'>
            <a href='blog-single.html'>
              از اینجا شروع کنید تا یک خلاصه کوتاه شامل تمام موارد ضروری به‌دست
              آورید.
            </a>
          </h1>
          <p class='max-w-[524px]'>
            این مطلب جامع مانند یک راهنمای سریع عمل می‌کند تا به سرعت با Ghost
            آشنا شوید. پر از نکات کلیدی…
          </p>
          <div class='flex items-center gap-2.5 mt-5'>
            <a
              href='/article/1'
              class='flex items-center gap-3'
            >
              <div class='flex w-6 h-6 rounded-full overflow-hidden'>
                <img
                  src='https://clarity-tailwind.preview.uideck.com/images/user-01.png'
                  alt='user'
                />
              </div>
              <p class='text-sm'>محمدرضا آریک</p>
            </a>

            <span class='flex w-[3px] h-[3px] rounded-full bg-dark-2'></span>

            <p class='text-sm'>۱۰ شهریور - ۱۴۰۴</p>
          </div>
        </div>
      </div>

      <!-- Hero item -->
      <div
        class='lg:max-w-[570px] w-full flex flex-col sm:flex-row sm:items-center gap-6 bg-white shadow-1 rounded-xl p-2.5'
      >
        <div class='lg:max-w-[238px] w-full'>
          <a href='blog-single.html'>
            <img
              class='w-full rounded-md'
              src='https://picsum.photos/238/180'
              alt='hero'
            />
          </a>
        </div>

        <div class='lg:max-w-[272px] w-full'>
          <a
            href='category.html'
            class='inline-flex text-blue-500 bg-blue-100 font-medium text-sm py-1 px-3 rounded-full mb-4'
            >تکنولوژی</a
          >
          <h2 class='font-semibold text-custom-lg text-dark mb-3'>
            <a href='blog-single.html'>
              14 Innovative Architectural Designs to Create a Vast Interior
              Space
            </a>
          </h2>
          <div class='flex items-center gap-2.5'>
            <p class='text-sm'>
              <a href='author.html'> محمدرضا آریک </a>
            </p>

            <span class='flex w-[3px] h-[3px] rounded-full bg-dark-2'></span>

            <p class='text-sm'>۱۰ شهریور - ۱۴۰۴</p>
          </div>
        </div>
      </div>

      <!-- Hero item -->
      <div
        class='lg:max-w-[570px] w-full flex flex-col sm:flex-row sm:items-center gap-6 bg-white shadow-1 rounded-xl p-2.5'
      >
        <div class='lg:max-w-[238px] w-full'>
          <a href='blog-single.html'>
            <img
              class='w-full rounded-md'
              src='https://picsum.photos/238/180'
              alt='hero'
            />
          </a>
        </div>

        <div class='lg:max-w-[272px] w-full'>
          <a
            href='category.html'
            class='inline-flex text-green-dark bg-green/[0.08] font-medium text-sm py-1 px-3 rounded-full mb-4'
            >Travel</a
          >
          <h2 class='font-semibold text-custom-lg text-dark mb-3'>
            <a href='blog-single.html'>
              Traveller Visiting Ice Cave With Amazing Eye-catching view with
              nature
            </a>
          </h2>
          <div class='flex items-center gap-2.5'>
            <p class='text-sm'>
              <a href='author.html'>By Adrio Devid</a>
            </p>

            <span class='flex w-[3px] h-[3px] rounded-full bg-dark-2'></span>

            <p class='text-sm'>Sep 10, 2025</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Hero Content End -->
</RootLayout>
