---
import BaseLayout from './baseLayout.astro'
import Navbar from '../components/astro/layouts/navbar/index.astro'

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props
---

<BaseLayout title={title} description={description}>
  <Navbar />
  <div class='row p-6'>
    <slot />
  </div>
</BaseLayout>
